/*
apple-system-body-dynamic-type.css
https://github.com/rdela/apple-system-body-dynamic-type
inspired by
https://furbo.org/2024/07/04/dynamic-type-on-the-web/
font-size-adjust
https://front-end.social/@jensimmons/112842454415587676
*/
html {
	font-size: 100%;
	font: -apple-system-body;
	font-family: system-ui;
	font-size-adjust: from-font;
	line-height: 1.5;
}

@media screen and (min-width: 801px) {
	body {
		font-size: 1.25rem;
	}
}

h1,
h2 {
	font-size: 1.75rem;
	line-height: 1.25;
}

pre,
code {
	font-family: 'Monaco',monospace;
	hyphens: none;
	line-height: 1.5;
	overflow-wrap: break-word;
	tab-size: 2;
	text-align: left;
	white-space: pre;
	word-break: break-word;
	word-spacing: normal;
}

pre {
	background-color: #eee;
	margin: .90625rem 0 1.25rem;
	overflow: auto;
	padding: .25rem .75rem .3125rem;
}
